img {
    display: block;
    margin-left: auto;
    width: 50%;
}
body {
  font-family: Arial,Helvetica,sans-serif;
  font-size: medium;
  color: black;
}
.topnav {
    background-color: #01307d;
    overflow: hidden;
    border-radius: 20px;
}
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #ddd;
    color: black;
}
.containerlog {
    float: right;
    border-radius: 5px;
    background-color: #01307d;
    padding: 20px;
}
.container {
    float: center;
    text-align: center;
    clear: left;
    border-radius: 20px;
    color: #f2f2f2;
    background-color: #01307d;
    padding: 10px;
}

